[submodule "AFLplusplus"]
	path = AFLplusplus
	url = ./AFLplusplus
[submodule "panda"]
	path = panda
	url = https://github.com/panda-re/panda
[submodule "LibAFL"]
	path = LibAFL
	url = https://github.com/AFLplusplus/LibAFL
	update = rebase
